@import 'base/variables';
*   {
	font-family: MuseoSansCyrl, sans-serif;
	box-sizing: border-box;
}
.container  {
	max-width: 950px;
	margin: 0 auto;
}
@import "blocks/_promo";
@import "blocks/header";
@import "blocks/buttons";